html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

h1 {
  text-align: center
}

h3 {
  color: #0275d8;
}

.logo {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.search input {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  border: 1px solid black;
}